body {
  background-color: #8a02c4;
}

.willyou {
  text-align: center;
  width: 100%;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--main-font-color);
  font-size: 2rem;
}

.options {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.options * {
  border: none;
  outline: none;
  border-radius: 10px;
  width: 20%;
  height: 100%;
}
